.elementor-21 .elementor-element.elementor-element-3181f81 {text-align: center;}
@media (min-width:768px) {.elementor-21 .elementor-element.elementor-element-36504aa {width: 59.561%;}
	.elementor-21 .elementor-element.elementor-element-d9ce0d7 {width: 40.439%;}}